.text-gradient {
  background: linear-gradient(270deg, #187ec0 -3.39%, #005296 112.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.process-cards-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.line-container {
  position: relative;
}

.process-card {
  width: 292px;
  height: 276px;
  border-radius: 16px;
  padding: 24px;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.process-card:nth-child(2) {
  margin-top: 83px;
}

.process-card:nth-child(4) {
  margin-top: 83px;
}

.process-card-mbl {
  max-width: 343px;
  height: 249px;
  border-radius: 16px;
  padding: 24px;
  background-color: white;
  position: relative;
  overflow: hidden;
}
